@import "./scss/variablesSass";
@import "./scss/mixins";
@import "./scss/typographies";
@import "./scss/utilities";
@import "./scss/hamburger";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1 {
  @extend .typo__1;
  @include fluid(( "property": "margin-bottom", $xs: 15px, $sm: 20px, $md: 25px, $lg: 30px, $xlg: 30px, $xxlg: 35px ));
}

h2 {
  @extend .typo__2;
  @include fluid(( "property": "margin-bottom", $xs: 15px, $sm: 20px, $md: 25px, $lg: 30px, $xlg: 30px, $xxlg: 35px ));
}

h3 {
  @extend .typo__4;
  @include fluid(( "property": "margin-bottom", $xs: 10px, $sm: 10px, $md: 15px, $lg: 15px, $xlg: 15px, $xxlg: 25px ));
}

h4 {
  @extend .typo__20;
  @include fluid(( "property": "margin-bottom", $xs: 10px, $sm: 10px, $md: 15px, $lg: 15px, $xlg: 15px, $xxlg: 25px ));
}

p {
  @extend .typo__5;
  @include fluid(( "property": "margin-bottom", $xs: 15px, $sm: 15px, $md: 20px, $lg: 20px, $xlg: 20px, $xxlg: 30px ));

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: $blue;
  text-decoration: underline;

  &:hover {
    color: #4183c4;
    text-decoration: none;
  }
}

footer {
  a {
    color: $turquoise;
  }
}

ul {
  li {
    @extend .typo__5;
  }
}

.ui.segment {
  box-shadow: none;
  border-radius: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.ui.container {
  padding: 2rem 0;
}

.ui.inverted.menu {
  background: $dark-gray;
}

.ui.container.fluid,
header .ui.container,
.pushable .push .ui.container {
  padding: 0;
}

.ui.inverted.ui.push.top.visible.sidebar.menu {
  a {
    text-decoration: none;
  }
}

.ui.container.fluid {
  margin: 0 !important;
}

.ui.text.container {
  max-width: 800px !important;
}

.ui.items,
.ui.button {
  font-family: "Quicksand";
  font-weight: 400;
}

.ui.items > .item > .content > .header {
  font-family: "Quicksand";
  font-weight: 900;
}

.ui.items > .item > .image {
  @media ($bp-max-xs) {
    display: none;
  }
}

.active {
  background-color: $turquoise;
  .item {
    color: $black !important;
    font-weight: bold !important;
  }
}
.menu {
  @media ($bp-sm) {
    a {
      &:hover {
        background-color: $light-gray;
        .item {
          color: #ffffff !important;
        }
      }
    }
  }
}

.slick-arrow.slick-next,
.slick-arrow.slick-prev {
  display: none;
}

.slick-dots {
  position: relative;
  bottom: 0;
}
